.nav__bar{
  background-color: greenyellow;
  width: 1w ;
  height: 50px;
  display: flex;
  padding-left: 80%;
}

.nav__login{
  padding-top: 10px;
  color: white;
  margin-right: 20px;
}

.nav__register{
  color: white;
  padding-top: 10px;

}